body{
    background-color: #333;
    font-family: "Lato", sans-serif;
}
.navbar {
    background-color: #333; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #f2f2f2; 
    
}

.navbar a {
    color: #f2f2f2; 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

.navbar a.active {
    background-color: #4CAF50; 
}

#profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 28px;
    height: 120px;
    width: 200px;
    background-color: #272727;
    color: #f2f2f2;
    margin-top: 50px;
}
#profile img{
    position:relative;
    height: 50px;
    width: 60px;
    margin-right: 25px;
}

#stats{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    font-size: 12.5px;
    height: 120px;
    width: 1000px;
    /* background-color: #272727; */
    color: #f2f2f2; 
    margin-top: 50px; 
}
.grid-item {
    height: 118px;
    width: 150px;
    border: 1px solid black;
    text-transform: uppercase;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartOptionsButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 50px;
    
}

.chartOptionsButtons input[type="button"]{
    background-color: #272727;
    color: #f2f2f2;
    border-radius: 10px;
    outline: none;
    padding: 15px 30px;
    margin-right: 10px;
}

.chartOptionsButtons input[type="button"]:hover {
    background-color: #f2f2f2; 
    color: #272727;
}


.chart{
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 700px;
    width: 700px;
    margin-top: 50px;
}

  