header {
    font-size: 40;
    text-align: center;
}

#team{
    text-align: center;
}
.team-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
p {
    font-size: 16px;
    color: #333;
}
nav{
    text-align: center;
    background-color: rgb(0, 38, 255);
    
}
nav a{
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

nav a:hover{
    color: red
}

#overview {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}
.button {
    background-color: rgb(0, 89, 255);
    color: white;

}
a:hover {
    color: rgb(0, 89, 255);
}
