body{
    background-color: #333;
    font-family: "Lato", sans-serif;
}

.stats-display-container {
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 100px;
}

.stat-display {
    margin: 0 5px; /* Adjust as needed */
    background-color: black; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    padding: 15px 30px; /* Set padding */
    font-size: 18px; /* Set font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 10px; /* Add some border radius for rounded corners */
}

.bottom-button-container {
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.button {
    margin: 0 5px; /* Adjust as needed */
    background-color: black; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    padding: 15px 30px; /* Set padding */
    font-size: 18px; /* Set font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 10px; /* Add some border radius for rounded corners */
  }

  /* Hover effect */
  .button:hover {
    background-color: #f2f2f2; 
    color: #272727;
  }

  .navbar {
    background-color: #333; 
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: #f2f2f2; 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

.navbar a.active {
    background-color: #4CAF50; 
}

.text-entry {
    background-color: rgb(33, 33, 33); 
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
    height: 150px;
    color: rgba(255, 255, 255, 0.8); 
    /* Align text to top left */
    display: flex;
    align-items: flex-start;
    /* Set text alignment to left */
    text-align: left;
    overflow: hidden;
}

.text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    top: 270px;
}

#quote-text {
    font-size: 18px;
    color: white;
    background-color: #333;
    padding: 10px;
}

